body {
    font-family: "Jersey 10", sans-serif;
    font-size: 36px;
    display: flex;
    gap: 20px;
    padding: 40px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main {
    background: darkgray;
    padding: 20px;
    flex: 1;
    align-content: center;
}

button {
    font-family: "Jersey 10", sans-serif;
    font-size: 36px;
    padding: 10px;
}

.options button {
    margin: 5px;
}