body {
    font-family: "Jersey 10", sans-serif;
    font-size: 36px;
    display: flex;
    gap: 20px;
    padding: 40px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main {
    background: darkgray;
    padding: 20px;
    flex: 1;
}

button {
    font-family: "Jersey 10", sans-serif;
    font-size: 36px;
    padding: 10px;
}

.options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"] {
    width: 100%;
    font-size: 28px;
    padding: 10px;
    margin-top: 10px;
}